{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="/{{request.user.employees.subsidiary.slug}}/employee/" class="app-brand-link">
        <span class="app-brand-logo ">
          <img src="{{request.user.employees.subsidiary.organization.logo.url}}">
        </span>
        <span class="app-brand-text  menu-text fw-bolder ms-2" style="transform:uppercase;">{{ request.user.employees.subsidiary.organization }}</span>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item">
        <a href="/{{request.user.employees.subsidiary.slug}}/employee/" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>     
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Projects</span>
      </li>
      <!-- Layouts -->
      <li class="menu-item menu-items">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Projecta">Projects</div>
        </a>
        <ul class="menu-sub">
          {% for project in user_projects %}
          <li class="menu-item">
            <a href="{% url 'emp.project' subsidiary project.slug %}" class="menu-link">
              <div data-i18n="Without menu">{{project.project_name}}</div>
            </a>
          </li> 
    {% endfor %}                 
        </ul>
      </li>     
    </ul>
    <div class="text-center m-1 ms-4 mt-2 fixed-bottom">
      {% if messages %}     
          {% for message in messages %}            
            <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %} role="alert">
              {{ message }}
              <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         
          {% endfor %}
    
      {% endif %}
    
    </div>
  </aside>
  