
/* Brand Logo */
.app-brand-logo img{
    width: 40px;    
    }


    .container-file {
        /* height: 300px;
        width: 300px; */
        width: 100%;
        border-radius: 10px;
        /* box-shadow: 4px 4px 30px rgba(0, 0, 0, .2); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 5px;
        background-color: rgba(0, 110, 255, 0.041);
      }
      
      .header-file {
        flex: 1;
        width: 100%;
        border: 2px dashed royalblue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      
      
      .header-file p {
        text-align: center;
        color: black;
      }
      
      .footer-file {
        background-color: rgba(0, 110, 255, 0.075);
        width: 100%;
        height: 40px;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        border: none;
      }
      
      
      
      .footer-file p {
        flex: 1;
        text-align: center;
      }
      
      #file-file {
        display: none;
      }
    
.todo {
  color: rgb(168, 168, 13) !important;
}
input {
  border: 1px solid #696CFF !important;
}
textarea {
  border: 1px solid #696CFF !important;
}
.alert-error{
  color: red;
  background-color:rgba(174, 29, 29, 0.341) ;
  
}