
<!DOCTYPE html>
{% load static %}
<html
  lang="en" 
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Error</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'themes/img/favicon/logo.png'%}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'themes/vendor/fonts/boxicons.css'%}" />
    {% comment %} 
    bootstrap
    {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'themes/vendor/css/core.css" class="template-customizer-core-css'%}" />
    <link rel="stylesheet" href="{% static 'themes/vendor/css/theme-default.css" class="template-customizer-theme-css'%}" />
    <link rel="stylesheet" href="{% static 'themes/css/demo.css'%}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'themes/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'%}" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'themes/vendor/css/pages/page-misc.css'%}" />
    <!-- Helpers -->
    <script src="{% static 'themes/vendor/js/helpers.js'%}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'themes/js/config.js'%}"></script>
  </head>

  <body>
    
   {% block main %}

   {% endblock  %}
   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'themes/vendor/libs/jquery/jquery.js'%}"></script>
    <script src="{% static 'themes/vendor/libs/popper/popper.js'%}"></script>
    <script src="{% static 'themes/vendor/js/bootstrap.js'%}"></script>
    <script src="{% static 'themes/vendor/libs/perfect-scrollbar/perfect-scrollbar.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{% static 'themes/vendor/js/menu.js'%}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{% static 'themes/js/main.js'%}"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
