{% extends 'layouts/employee/base.html' %}
{% load static %}
{% block main %}
<section class="card p-3">      
    <div class="row">
        <div class="col-sm-8">
            <h4 class="h4" > <img width="30" src="{% static 'images/projects_icon.png' %}" alt=""> {{project.project_name}}</h4>
            <p></p>
            {{userproject.assigned_date}}
        </div>
        <div class="col-sm-4">
            <p class="text-primary text-capitalize h5">
                <i class='bx bx-circle bx-flashing' ></i> {{project.status}}
            </p>
        </div>
    </div>
</section>
<div class="row">
  <div class="col-sm-8 mt-4">
    <div class="card p-3">
      <div class="row">
        <div class="col-sm">
          <h5 class=""><i class="bx bx-alarm text-success bx-flashing" ></i> Start at:  {{project.start_date|date:'M d, Y'}}</5>
        </div>
        <div class="col-sm">
          <h5 class=""><i class="bx bx-alarm-snooze text-danger bx-tada" ></i> End at: {{project.end_date|date:'M d, Y'}}</5>
        </div>
      </div>        
<hr>
      <h5>Description:</h5>
      <p>{{project.project_desc}}</p>
    </div>
    <br>
    <section>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Tasks</h5>
          <div class="card-subtitle text-muted mb-3">Project Managmanet</div>
          <p class="card-text">
            {% for task_data in tasks_data %}
          <div class="task  mt-2 p-2  ps-3 pt-3 rounded shadow">
            <p>{{ task_data.task.title }}</p>
            <div class="row">
              <div class="col-sm-4"><span class="ps-2"><i class='bx bx-check-square'></i> {{ task_data.checked }}/{{ task_data.taskchecklistcount }}</span></div>
              <div class="col-sm-4">
                State: {{ task_data.task.state }}              
              </div>
              <div class="col-sm-4 text-end">
                <i class="bx bx-trash text-danger"></i> &nbsp; &nbsp; &nbsp; &nbsp;
              </div>
            </div>
            {% if task_data.progress != 0 %}
            <div class="progress mt-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                style="width: {{task_data.progress}}%" aria-valuenow="{{task_data.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}
          </div>
          {% endfor %}
       
          </p>
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="card-link"><i class="bx bx-plus"></i> Add New</a>
          
        </div>
      </div>
    </section>
  

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'project_task' subsidiary %}" method="post">
          {%csrf_token%}
          <input type="hidden" value="{{project.id}}" name="project">
        <div class="mt-2 mb-3">              
          <input id="largeInput" name="title" class="form-control form-control-lg" type="text" placeholder="Title">
        </div>
        <div class="row">
          <div class="col-8">
            <div class="task-main">             
              <div class="input-group input-group-merge speech-to-text">
                <textarea class="form-control" name="description" placeholder="Description" rows="7"></textarea>
                <span class="input-group-text">
                  <i class="bx bx-microphone cursor-pointer text-to-speech-toggle"></i>
                </span>
              </div>

            </div>
          </div>
          <div class="col-4">   
              
            <input class="form-control"  type="datetime-local" name="end_date"  id="html5-datetime-local-input" placeholder="Last Date">
            <div class="input-group mt-3">
              <span class="input-group-text" id="basic-addon11">@</span>
              <input type="text" disabled value="{{request.user.uid}}" name="assigned_to_id" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon11">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
  </div>
</div>

  </div>
  <div class="col-sm-4">
      <div class="card mt-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Team Members</h5>             
          </div>
          <div class="card-body">
            <ul class="p-0 m-0">
              {% for member in members %}
              <li class="d-flex mb-4 pb-1">
                  <div class="avatar flex-shrink-0 me-3">
                    <img src="{{member.profile_image}}" alt="User" class="rounded">
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">{{ member.name }}</h6>
                      <small class="text-muted d-block mb-1">  {{member.employee_type}} </small>
                   
                    </div>
                    <div class="user-progress d-flex align-items-center gap-1">
                      <h6 class="mb-0">{% if member.is_lead %}
                          Lead
                      {% endif %}</h6>
                      <span class="text-muted"></span>
                    </div>
                  </div>
                </li>    
              
          {% endfor %}                   
           
            </ul>
          </div>
        </div>     
  </div>
</div>

{% endblock main %}


