{% extends 'layouts/employee/base.html' %}
{% load static %}
{% block main %}
<section class="card p-3 mb-0 pb-0">      
    <div class="row">
        <div class="col-sm-8">
            <h4 class="h4" > <img width="30" src="{% static 'images/projects_icon.png' %}" alt=""> {{project.project_name}}</h4>
            <p></p>
            {{userproject.assigned_date}}
        </div>
        <div class="col-sm-4 mb-0 pb-0 pt-2">
            <p class="text-primary text-capitalize h5">
              <i class='bx bx-radio-circle-marked bx-flashing'></i> {{project.status}}
            </p>
        </div>
    </div>
</section>
<div class="row">
  <div class="col-sm-8 mt-4">
    <div class="card p-3 ">
      <div class="row">
        <div class="col-sm">
          <h5 class=""><i class="bx bx-alarm text-success bx-flashing" ></i> Start at:  {{project.start_date|date:'M d, Y'}}</5>
        </div>
        <div class="col-sm">
          <h5 class=""><i class="bx bx-alarm-snooze text-danger bx-tada" ></i> End at: {{project.end_date|date:'M d, Y'}}</5>
        </div>
      </div>        
<hr>
      <h5>Description:</h5>
      <p>{{project.project_desc}}</p>
    </div>
    <br>
    <section>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><i class='bx bx-customize'></i>  Tasks</h5>
          <div class="card-subtitle text-muted mb-3">Project Management</div>
          <p class="card-text menu">
            {% for task_data in tasks_data %}
       
           <div id="task-{{task_data.task.uid }}" class="task   mt-2 p-2  ps-3 pt-3 rounded shadow " data-toggle="tooltip">
            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#maintaskModal{{ task_data.task.uid}}"><p>{{ task_data.task.title }}</p></a>
            <div class="row">
              <div class="col-sm-4"><span class="ps-2"><i class='bx bx-check-square'></i> {{ task_data.checked }}/{{ task_data.taskchecklistcount }}</span></div>
              <div class="col-sm-4">
                <i class='bx bx-checkbox-square {{ task_data.task.state }}'></i> {{ task_data.task.state|title }}              
              </div>
              <div class="col-sm-4 text-end">
                <a href="javascript:void()" ondblclick="deleteTask('{{task_data.task.uid }}','{{ csrf_token }}')"><i class="bx bx-trash text-danger"></i></a> &nbsp; &nbsp; &nbsp; &nbsp;
              </div>
            </div>
            {% if task_data.progress != 0 %}
            <div class="progress mt-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                style="width: {{task_data.progress}}%" aria-valuenow="{{task_data.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% endif %}
          

          <div class="modal fade" id="maintaskModal{{ task_data.task.uid}}" tabindex="-1" aria-labelledby="taskModal{{ task_data.task.uid}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="taskModal{{ task_data.task.uid}}"><i class="bx bx-edit"></i>   Edit Task:</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'update_project_task' subsidiary %}" method="post">
                    {%csrf_token%}
                    <input type="hidden" name="project" value="{{ project.id}}">
                    <input type="hidden" value="{{task_data.task.uid}}" name="task_id">
                  <div class="mt-2 mb-3">  
                    <label for="largeInput" class="text-black" ><i class="bx bx-rename"></i> Title:</label>            
                    <input id="largeInput"  name="title" class="form-control form-control-lg border-0" type="text" value="{{ task_data.task.title}}" placeholder="Title">
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <div class="task-main">  
                        <label for="desc-task" class="text-black"><i class="bx bx-rename"></i> Description:</label>           
                        <div class="input-group input-group-merge ">                         
                          <textarea id="desc-task" class="form-control border-0" name="description" placeholder="Description"  rows="2">{{ task_data.task.description}}</textarea>
                          <!-- <span class="input-group-text">
                            <i class="bx bx-microphone cursor-pointer text-to-speech-toggle"></i>
                          </span> -->
                        </div>
                        <div class="task-checklist-section mt-3 ps-3">
                          <h5><i class="bx bx-list-check"></i> Checklist</h5>
                          <hr>
                          <div id="allChecklist{{ task_data.task.uid }}" class="">
                            {% for checklist_item in task_data.checklist_items %}
                            <input type="hidden" name="checklist_id[]" value="{{ checklist_item.uid }}">
                            <div class="row" id="checklist-{{checklist_item.uid}}">
                              <div class="col-1 text-end d-flex align-items-center justify-content-center">
                                <input class="form-check-input" value="{{ checklist_item.uid }}"  type="checkbox" name="status[]" {% if checklist_item.status %}Checked {% else %}Unchecked {% endif %}>
                              </div>
                              <div class="col-10">
                                <input class="form-control  border-0" type="text" value="{{ checklist_item.title }}" name="titles[]" placeholder="Check List">
                              </div>
                              <div class="col-1 d-flex align-items-center justify-content-center">
                               <a href="javascript:void(0)" ondblclick="deleteTaskChecklist('{{ checklist_item.uid }}','{{ csrf_token }}')"> <i class="bx bx-trash text-danger"> </i></a>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          <a href="javascript:void(0)" id="addChecklist" onclick='addChecklistItem("{{ task_data.task.uid }}")' class="card-link"><i class="bx bx-plus"> </i> Add Checklist
                          </a>
                        </div>                       

                      </div>
                    </div>
                    <div class="col-4">   
                      <p class="ps-3"><i class="bx bx-user"> </i> {{ request.user.first_name }} {{ request.user.last_name }}</p></p>          
                      <label for="html5-datetime-local-input" class="text-danger ps-3"> <i class="bx bx-time"></i> Deadline</label>           
                    <input class="form-control border-0"  type="datetime-local" name="end_date"  id="html5-datetime-local-input" value="{{ task_data.task.end_date|date:'Y-m-d' }}T{{ task_data.task.end_date|date:'h:i' }}" placeholder="Last Date">
                    
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
            </div>
          </div> </div>         



          {% endfor %}
       
          </p>
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#maintaskModal" class="card-link"><i class="bx bx-plus"></i> Add New</a>
          
        </div>
      </div>
    </section>
  

<div class="modal fade" id="maintaskModal" tabindex="-1" aria-labelledby="taskModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="taskModal"><i class="bx bx-plus-medical"></i> Add Task:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'project_task' subsidiary %}" method="post">
          {%csrf_token%}
          <input type="hidden" value="{{project.id}}" name="project">
        <div class="mt-2 mb-3">  
          <label for="addtitle" class="ps-2"><i class='bx bx-rename'></i> Title:</label>            
          <input id="largeInput" id="addtitle" name="title" class="form-control form-control-lg" type="text" placeholder="Title">
        </div>
        <div class="row">
          <div class="col-8">
            <div class="task-main ">             
              <label for="adddescription" class="ps-2"><i class='bx bx-rename'></i> Description:</label>
              <div class="input-group input-group-merge speech-to-text">
                <textarea class="form-control" name="description" id="adddescription" placeholder="Description" rows="7"></textarea>
               
              </div>

            </div>
          </div>
          <div class="col-4">  
            <label for="html5-datetime-local-input"  class="ps-2"><i class="bx bx-calendar-event"></i> Final Date:</label>               <br>
            <input class="form-control"  type="datetime-local" name="end_date"  id="html5-datetime-local-input" placeholder="Last Date">
            <div class="input-group mt-3">
              <span class="input-group-text" id="basic-addon11">@</span>
              <input type="text" disabled value="{{request.user.uid}}" name="assigned_to_id" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon11">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
  </div>
</div>

  </div>
  <div class="col-sm-4">
      <div class="card mt-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2"><i class='bx bxs-user-detail'></i> Team Members</h5>             
          </div>
          <div class="card-body">
            <ul class="p-0 m-0">
              {% for member in members %}
              <li class="d-flex mb-4 pb-1">
                  <div class="avatar flex-shrink-0 me-3">
                    <img src="{{member.profile_image}}" alt="User" class="rounded">
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">{{ member.name }}</h6>
                      <small class="text-muted d-block mb-1">  {{member.employee_type}} </small>
                   
                    </div>
                    <div class="user-progress d-flex align-items-center gap-1">
                      <h6 class="mb-0">{% if member.is_lead %}
                        <i class='bx bx-user-check text-primary'></i>
                      {% endif %}</h6>
                      <span class="text-muted"></span>
                    </div>
                  </div>
                </li>    
              
          {% endfor %}                   
           
            </ul>
          </div>
        </div>  
        <div class="card mt-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2"><i class="bx bx-upload"></i> Uploads </h5>
          </div>
          <div class="card-body">
            <form action="{% url 'upload_attachment' subsidiary %}" method="post" enctype="multipart/form-data">
              <div class="container-file">
                  {%csrf_token%}
                <input type="hidden" name="project_id" value="{{ project.id}}">
                <p class="ps-2" class="text-danger"  id="file-message"></p>
                <label for="file-file" class="footer-file">
                  <i class="bx bx-right-arrow-circle"> </i>
                  <p class="pt-3"> Select File!</p>
                  <i class="bx bx-cloud-upload" style="font-size: 40px;"></i>
                </label>
                <input id="file-file" type="file" name="attachment">
                <input class="form-control" name="file_name" type="text" placeholder="File Name" required>
                <input class="w-100 btn btn-primary " type="submit">
    
              </div>
            </form>
          </div>
        </div>   
        <div class="card mt-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2"><i class="bx bx-folder-open"></i> Attachments </h5>
          </div>
          <div class="card-body">
            <ul class="p-0 m-0">
              {% for attachment in attachments%}
              <div id="atc-{{attachment.id }}">
              <li class="d-flex mb-4 pb-1" >
               
                <div class="avatar flex-shrink-0 me-3">
                  <span class="avatar-initial rounded bg-label-primary" onclick="downloadFile('/static/attachments/{{attachment.attachment_file}}','{{project.slug}}-{{ attachment.attachment_file }}' )"><i class="bx bx-cloud-download"></i></span>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">{{ attachment.file_name}}</h6>
                    <small class="text-muted">{{ attachment.attachment_file }}</small>
                  </div>
                  <div class="user-progress">
                    <i class="bx bx-trash text-danger cursor-pointer" ondblclick="deleteAttachment('{{attachment.id }}','{{ csrf_token }}')"></i>
                  </div>
                </div> 
              
              </li></div>
              {% endfor %}
            </ul>
          </div>
        </div>   
  </div>
</div>

{% endblock main %}
{% block script %}

<script src="{% static 'js/project.js'%}"></script>
    {% endblock script %}

