{% extends 'layouts/auth/base.html' %}
{% load static %}

{% block content  %}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">            
         
            <!-- /Logo -->
            <h3 class="mb-2 text-center">  <img width="40" src="{% static 'images/logo.png' %}" alt=""> {{app_name}}</h3>
                   
            <h6 class="mb-2">Forgot Password? 🔒</h6>
            <div class="p-1">
                {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
              </div>
            <form id="formAuthentication" class="mb-3" action="{% url 'auth.forgot'%}" method="POST">
              {% csrf_token %}
                <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus="">
              </div>
              <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
            </form>
            <div class="text-center">
              <a href="{% url 'auth.login'%}" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
              </a>             
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
    
{% endblock  %}

    