{% extends 'layouts/auth/base.html' %}
{% load static %}
<style>
  .text-error{
    color: red;
  }
</style>
{% block content  %}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body ">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="" class="app-brand-link gap-2">               
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Reset Password? 🔒</h4>
            <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
            <div class="p-1">
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <form id="formAuthentication" class="mb-3"  method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">New Password</label>
                <input type="password" class="form-control" id="email" name="new_password" placeholder="New Password" autofocus="">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="email" name="confirm_password" placeholder="Confirm Password" autofocus="">
              </div>
              <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
            </form>
            <div class="text-center">
              <a href="auth-login-basic.html" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
    
{% endblock  %}

    








